
<%- include ('partials/head') %>

<%- include ('partials/header') %>

    <div class="container mt-4 w-25">
        <div class="card border-secundary">
        <div class="card-header"> Nuevo Registro de usuario</div>
        <div class="card-body">
            <form action="/saveUser" method="POST">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" required>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="visibilidad" class="form-label">Visibilidad</label>
                    <input type="number" class="form-control" id="visibilidad" name="visibilidad" required>
                </div>
                <br>
                <div class="button-container d-flex gap-2 align-itmes-stretch">                    
                    <button type="submit" class="btn btn-save">Guardar</button>
                    <a href="/admin" class="btn-cancel">Cancelar</a>
                </div>
            </form>         
        </div>
    </div>

<%- include ('partials/footer') %>