
    <section class="container">
        <h2>Bienvenido: 
        <% if (login){ %>
            <p>El usuario conectado es: <%= user %> </p>
            <a href="/logout" class="login">Cerra sesión</a>
        <% } else { %>
            <p><%= user %></p> 
            <a href="/login" class="login">Iniciar sesión</a>
        <% } %> 
        </h2>

        <%- include('partials/popover') %>

        

    </section>